@model KartMaster.Models.Autodromo

@{
    // Define o título da página
    ViewData["Title"] = "Details";
}

@* Título principal da página *@
<h1>Detalhes</h1>

<div>
    @* Subtítulo indicando o tipo de entidade cujos detalhes estão a ser visualizados *@
    <h4>Autódromo</h4>
    <hr />

    @* Bloco de descrição com os campos visíveis do autódromo *@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
    </dl>
</div>

@* Ações disponíveis: editar ou voltar à lista de autódromos *@
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
