@model KartMaster.Models.Participacao

@{
    ViewData["Title"] = "Details";
}

@* Título da página *@
<h1>Detalhes</h1>

<div>
    <h4>Participação</h4>
    <hr />
    @* Lista de detalhes da participação selecionada *@
    <dl class="row">
        @* Nome do utilizador associado à participação *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Utilizador != null) {
                    @Model.Utilizador.Nome
                }
                else {
                    <span class="text-muted">Não disponível</span>
                }
            }
        </dd>
        @* Nome da corrida associada à participação *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corrida)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Corrida != null) {
                    @Model.Corrida.Nome
                }
                else {
                    <span class="text-muted">Não disponível</span>
                }
            }
        </dd>
        @* Posição final do utilizador na corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PosicaoFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosicaoFinal)
        </dd>
        @* Tempo final obtido na corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoFinal)
        </dd>
    </dl>
</div>
@* Links de ação: editar a participação ou voltar à lista *@
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UtilizadorId, corridaId = Model.CorridaId }) |
    <a asp-action="Index">Voltar à lista</a>
</div>
