@model KartMaster.Models.Corrida

@{
    // Define o título da página
    ViewData["Title"] = "Details";
}

@* Cabeçalho da página *@
<h1>Detalhes</h1>

<div>
    <h4>Corrida</h4>
    <hr />
    <dl class="row">
        @* Nome da corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        @* Data da corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>

        @* Hora da corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>

        @* Duração da corrida *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        @* Nome do autódromo associado *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autodromo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autodromo.Nome)
        </dd>
    </dl>
</div>

@* Ações disponíveis: editar corrida ou voltar à listagem *@
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
